* {
  /* border-top: 5px solid #1098ad; */
  margin: 0px;
  padding: 0px;
}

/* Page Sections */

body {
  /* background-color: orange; */
  color: #444;
  font-family: sans-serif;
  border-top: 5px solid #1098ad;
  /* margin: 0px; */
  position: relative;
}

.container {
  width: 800px;
  margin: 0px auto;
  position: relative;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: auto; */
}

.post-header {
  margin-bottom: 40px;
}

.related-posts {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0px;
  width: 500px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

/* Smaller Elements */

h1,
h2,
h3,
p,
li {
  /* font-family: sans-serif; */
  /* color: #444; */
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  /* color: #1098ad; */
  font-size: 25px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  /* font-family: sans-serif; */
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  /* font-family: sans-serif; */
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* font-family: sans-serif; */
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  /* font-family: sans-serif; */
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0px;
}

/* li:nth-child(odd) {
  color: red;
} */

/* li:nth-child(even) {
  color: orange;
} */

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* article p:first-child {
  color: red;
} */

/* Styling Hyperlinks */
a:link {
  /* color: #1098ad; Not a good practice */
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin: 10px 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0px;
}

/* Resolving conflicts */

/* #copyright {
  color: red;
  font-size: 16px;
}

.text {
  color: black;
}

footer p {
  color: green !important;
} 
*/

.copyright {
  color: black;
}

.code-image {
  width: 100%;
  height: auto;
}

.like {
  font-size: 22px;
  cursor: pointer;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* h3 + p::first-line {
  color: red;
} */

h2 {
  position: relative;
}

h2::after {
  content: "Top";
  color: black;
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
