* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

/* Products */

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px 0px;
}

/* Price & Shipping */

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

/* Product Information */

.product-info {
  margin-bottom: 10px;
}

/* Information Details */

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* Product Details */

.product-details {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 40px;
}

.details-list {
  list-style: square;
  padding: 5px 10px;
  margin: 10px 10px;
}

.details-list li {
  margin-bottom: 10px;
}

/* Button */

.add-cart {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: black;
  background-color: white;
}
